
<div>
    <div (mouseleave)="showDropDown = false">
        <button class="drop-toggle btn flat col-12" (click)="showDropDown=!showDropDown">
            <span *ngIf="checkedList.length<=0">Select</span>
            <span *ngIf="checkedList.length>0">{{selectioncheckedList.join(', ')}}</span>
            <i class="fa fa-angle-down"></i>
        </button>
        <div class="drop-show col-10" *ngIf="showDropDown">
            <label *ngFor="let a of list">
                <input type="checkbox" [(ngModel)]="a.checked" 
                    (change)="getSelectedValue(a.checked,a)" />
                <span class="ml-2">{{a.name}}</span>
            </label>
        </div>
    </div>
</div>