
<carousel>
  <slide>
      <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
     <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
       <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero4.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero5.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero6.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
</carousel>

<section>
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to Yellow doors!!!</h1>
  </div>
</section>

<div class="container marketing row ml-5">
  <div class="col-sm-4 p-5">
  <app-tile [title]= "paperbookTileTitle" [SubTitle] = "paperbookTileSubTitle" 
  [content] = "paperbookTileContent"  [image]="paperbookTileImage"
  [buttonTitle] = "tileButtonTitle" [buttonHlink] = "tileButtonLink"></app-tile>
</div>
<div class="col-sm-4 p-5">
  <app-tile [title]= "ebookTileTitle" [SubTitle] = "ebookTileSubTitle" 
  [content] = "ebookTileContent"  [image]="ebookTileImage"
  [buttonTitle] = "tileButtonTitle" [buttonHlink] = "tileButtonLink"></app-tile>
</div>
<div class="col-sm-4 p-5">
  <app-tile [title]= "subscribeItemTileTitle" [SubTitle] = "subscribeItemTileSubTitle" 
  [content] = "subscribeItemContent"  [image]="subscribeItemTileImage"
  [buttonTitle] = "tileButtonTitle" [buttonHlink] = "tileButtonLink"></app-tile>
</div>
</div>
<div class="container marketing row ml-5">
  <div class="col-sm-4 p-5">
    <app-tile [title]= "uploadBookTileTitle" [SubTitle] = "uploadBookTileSubTitle" 
    [content] = "uploadBookContent"  [image]="uploadBookTileImage"
    [buttonTitle] = "tileButtonTitle" [buttonHlink] = "tileButtonLink"></app-tile>
  </div>
  <div class="col-sm-4 p-5">
    <app-tile [title]= "uploaNoteTileTitle" [SubTitle] = "uploadNoteTileSubTitle" 
    [content] = "uploadNoteContent"  [image]="uploadNoteTileImage"
    [buttonTitle] = "tileButtonTitle" [buttonHlink] = "tileButtonLink"></app-tile>
  </div>
</div>