
<!-- <h2 mat-dialog-title>Check this out</h2>
<button mat-button mat-dialog-close class="btn btn-outline-primary btn-sm mt-5 pull-right">Cancel
    <i class="material-icons close-icon">close</i>
</button>
<mat-dialog-content class="mat-typography" style="align-items:center ;">
  
        <pdf-viewer [src]="data.documentUrl"
        [show-all]="true"
        [original-size]="true" [render-text]="true">
        </pdf-viewer>
  


</mat-dialog-content> -->


<pdf-viewer [src]="data.documentUrl"
[show-all]="true"
[original-size]="true" [render-text]="true"
>
</pdf-viewer>
