.btn-outline-warning{
    background-color: #f4d6bc;
     color: #0f1111;
}

.modal-body{
    height: 500px;
    width: 96%;
}
.active{
    border-color: #ffc107 !important;
    border-width: thick;
}